.details-view .detail-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;
    border-bottom: 2.5px solid var(--border-color);

}

.value.completed {
    background-color: var(--success-color);
}

.value.open {
    background-color: var(--color-red);
}

.value.inprogress {
    background-color: var(--yellow);
}

.value.completed,
.value.open,
.value.inprogress {
    color: var(--background-white);
    border-radius: 18px;
    border: unset;
    padding: 5px 10px;
}

.details-view .dates-bg,
.link-bg {
    background-color: var(--background-color);
    padding: 4px;
    margin-right: 4px !important;
    border-radius: 4px;
}

.name-bg {
    border-radius: 50%;
    color: var(--background-white);
    border: unset;
    width: 32px;
    height: 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: -5px !important;
    mix-blend-mode: multiply;
}

.more-count {
    background-color: var(--more-count-bg);
}