.response-view .response-row {
    display: flex;
    flex-direction: column;
}

.response-view .response-row-header span.label {
    font-size: 16px;
    font-family: "Roboto-Medium";
}

.response-view .response-row span.value {
    margin-bottom: 7px !important;
}

.response-view .nav-item {
    font-size: 18px;
    font-family: "Roboto-Medium";
}

.response-view .nav-item .nav-link.active {
    color: var(--tertiary-color) !important;
    border-bottom: 2.5px solid var(--secondary-color);
}

.response-view .nav-item .nav-link {
    color: var(--black) !important;
    border-bottom: 2.5px solid var(--border-bottom-color);
    border-radius: unset;
    padding-bottom: 14px !important;
    width: 250px;
    background-color: unset;

}

.response-view .card.question-card {
    border: 1px solid var(--tertiary-color) !important;
}

.progress-segment {
    transition: background-color 0.3s ease;
}

.progress-segment {
    height: 20px;
    width: 20%;
}

.progress-segment:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.progress-segment:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}




/* media query */

@media screen and (max-width:768px) {
    .response-view .nav-item .nav-link {
       
        width: auto !important;
    }
}