html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: var(--background-color);
  font-family: roboto, arial, sans-serif;
}

.font-icon {
  font-size: 1.5rem;
  color: var(--grey);
  font-weight: 400;
}

.icons {
  font-size: 14px;
  color: white;
  font-weight: 400;
  margin-right: 5px;
}

.star-icon {
  color: var(--yellow);
  border: unset;
  font-size: 16px;

}

.green {
  color: var(--color-green);
  font-size: 24px;

}

.yellow {
  color: var(--yellow);
  font-size: 24px;

}

.red {
  color: var(--color-red);
  font-size: 24px;

}

.lightgreen {
  color: var(--color-high);
  font-size: 24px;

}

.lightred {
  color: var(--color-low);
  font-size: 24px;

}

.bg-secondary {
  background-color: var(--secondary-color) !important;
}

.grey {
  background-color: var(--grey);
}

p {
  margin: 0 !important;
  font-size: 18px;
}

h1 {
  font-size: 22px;
  font-family: "Roboto-Medium";
}

h2 {
  font-size: 20px;
  font-family: "Roboto-Medium";
}


li,
span {
  list-style: none;
  font-size: 16px;
  margin: 0 !important;
  font-family: "Roboto-Regular";
}

p,
div {
  font-family: "Roboto-Regular";
  font-size: 16px;
}

p,
li,
span {
  color: var(--black);
}

a,
button {
  text-decoration: none !important;
  font-size: 14px;
  font-family: "Roboto-Medium";
  color: var(--secondary-color);
}

.row-15>* {
  margin-bottom: 15px;
}

.blue-bg-btn {
  background-color: var(--secondary-color);
  color: var(--text-in-btn);
  border: unset;
  padding: 6px 12px;
  border-radius: 5px;
  margin-bottom: 14px;
}

.gap-15 {
  gap: 15px;
}

.card {
  border: unset !important;
}

span.value {
  font-size: 16px;
  font-family: "Roboto-Light";
  margin-bottom: 14px !important;
}

span.label {
  margin-bottom: 7px !important;
}

.doughnut-layout {
  width: 120px;
  height: 120px;
}


/* media query */

@media screen and (max-width:768px) {
  h1 {
    font-size: 19px;
  }

  h2 {
    font-size: 18px;
  }

  span.value {
    font-size: 14px;

  }
}