body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: var(--background-color);
}

.font-icon {
  font-size: 1.5rem;
  color: var(--grey);
  font-weight: 400;
}

p {
  margin: 0 !important;
  font-size: 18px;
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 20px;
}

li,
span {
  list-style: none;
  font-size: 16px;
  margin: 0 !important;
}

p,
li,
span {
  color: var(--black);
}

.gap-15 {
  gap: 15px;
}